.HabitatTheme {
  --space-0: 0;
  --space-25: 2px;
  --space-50: 4px;
  --space-75: 6px;
  --space-100: 8px;
  --space-125: 10px;
  --space-150: 12px;
  --space-175: 14px;
  --space-200: 16px;
  --space-225: 18px;
  --space-250: 20px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-600: 48px;
  --space-800: 64px;
  --space-1000: 80px;
  --space-1800: 144px;
  --corner-50: 4px;
  --corner-100: 8px;
  --corner-200: 16px;
  --corner-300: 24px;
  --corner-400: 32px;
  --corner-1000: 800px;
  --foreground-critical-default: #eb5757;
  --foreground-critical-light: #fdeeee;
  --foreground-success-default: #7dbe64;
  --foreground-success-background: #f2f9ef;
  --foreground-warning-default: #f5c35c;
  --foreground-warning-light: #fef9ed;
  --foreground-text-primary: #1d1d1b;
  --foreground-text-secondary: #525251;
  --foreground-text-inverted: #ffffff;
  --foreground-text-hover: #737372;
  --foreground-text-placeholder: #b3b3b2;
  --foreground-border-default: #b3b3b2;
  --foreground-border-hover-active: #ff991f;
  --foreground-border-critical: #eb5757;
  --foreground-border-disabled: #e8e8e8;
  --foreground-surface-disabled: #f5f5f5;
  --foreground-surface-default: #ffffff;
  --foreground-surface-pressed-active: #fff5e9;
  --orange-300: #fff5e9;
  --orange-400: #ffc279;
  --orange-500: #ff991f;
  --orange-600: #e68a1c;
  --orange-700: #c17e34;
  --darkgreen-300: #edf2f1;
  --darkgreen-400: #cdd8d7;
  --darkgreen-500: #063d39;
  --darkgreen-600: #05332f;
  --darkgreen-700: #021a18;
  --teal-500: #25c1a3;
  --neutral-0: #ffffff;
  --neutral-50: #f5f5f5;
  --neutral-100: #e8e8e8;
  --neutral-200: #d4d4d3;
  --neutral-300: #b3b3b2;
  --neutral-400: #737372;
  --neutral-500: #525251;
  --neutral-600: #1d1d1b;
  --red-100: #fdeeee;
  --red-200: #f39a9a;
  --red-300: #ff5e5e;
  --red-400: #eb5757;
  --red-500: #c45753;
  --red-600: #ae4e4a;
  --green-100: #f2f9ef;
  --green-200: #afd7a0;
  --green-300: #95cb82;
  --green-400: #7dbe64;
  --green-500: #71ab5a;
  --green-600: #649850;
  --yellow-100: #fef9ed;
  --yellow-200: #f9da98;
  --yellow-300: #f7cf79;
  --yellow-400: #f5c35c;
  --yellow-500: #ddaf52;
  --yellow-600: #c49c49;
  --offwhite-100: #f6f6f1;
  --glass-100: #e0f4fd;
  --background-default-light: #ffffff;
  --background-default-dark: #f6f6f1;
  --background-primary-dark: #ff991f;
  --background-primary-light: #fff5e9;
  --background-secondary-dark: #063d39;
  --background-secondary-light: #edf2f1;
  --brand-primary: #ff991f;
  --brand-secondary: #063d39;
  --brand-accent: #25c1a3;
  --brand-primary-light: #fff5e9;
  --brand-secondary-light: #edf2f1;
  --buttons-light-text-primary: #1d1d1b;
  --buttons-light-text-inverted: #ffffff;
  --buttons-light-text-disabled: #737372;
  --buttons-light-text-round: #1d1d1b;
  --buttons-light-background-default: #1d1d1b;
  --buttons-light-background-inverted: #ffffff;
  --buttons-light-background-hover: #737372;
  --buttons-light-background-hover-tertiary: #e8e8e8;
  --buttons-light-background-active-pressed: #525251;
  --buttons-light-background-disabled: #e8e8e8;
  --buttons-light-background-round-default: #e8e8e8;
  --buttons-light-background-round-hover: #d4d4d3;
  --buttons-light-border-default: #1d1d1b;
  --buttons-light-border-hover: #737372;
  --buttons-light-border-active-pressed: #525251;
  --buttons-light-border-disabled: #e8e8e8;
  --buttons-light-border-hover-tertiary: #e8e8e8;
  --buttons-light-border-round-default: #ffffff;
  --buttons-light-border-round-hover: #f5f5f5;
  --buttons-dark-text-primary: #ffffff;
  --buttons-dark-text-inverted: #1d1d1b;
  --buttons-dark-text-disabled: #737372;
  --buttons-dark-text-round: #1d1d1b;
  --buttons-dark-background-default: #ffffff;
  --buttons-dark-background-inverted: #737372;
  --buttons-dark-background-hover: #e8e8e8;
  --buttons-dark-background-hover-tertiary: #e8e8e8;
  --buttons-dark-background-active-pressed: #d4d4d3;
  --buttons-dark-background-disabled: #e8e8e8;
  --buttons-dark-background-round-default: #ffffff;
  --buttons-dark-background-round-hover: #f5f5f5;
  --buttons-dark-border-default: #ffffff;
  --buttons-dark-border-hover: #e8e8e8;
  --buttons-dark-border-active-pressed: #525251;
  --buttons-dark-border-disabled: #e8e8e8;
  --buttons-dark-border-hover-tertiary: #e8e8e8;
  --buttons-dark-border-round-default: #ffffff;
  --buttons-dark-border-round-hover: #f5f5f5;
}